# site properties and page defaults
title: QuIReal - Quantum Information and Real-time evolution in QFT
subtitle: Adrien Florio's Emmy Noether group
description: Research group specializing in out-of-equilibrium dynamics of quantum fields, quantum information aspects of field theory, and real-time simulations of quantum and classical fields.
header: images/quantum-background.jpg
footer: images/quantum-background.jpg
proofer: false

# GitLab Pages configuration
baseurl: ""
url: "https://qcreate-website-fa4cbb.pages.ub.uni-bielefeld.de"

# site social media and other links
links:
  email: aflorio@physik.uni-bielefeld.de
  orcid: 0000-0002-7276-4515
  google-scholar: AvWN0nIAAAAJ
  inspirehep: https://inspirehep.net/authors/1844184

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - .gitlab-ci.yml
