---
---

$wrap: 600px;

.float {
  margin-bottom: 20px;
  max-width: 250px;
  width: 250px;
}

.float > * {
  margin: 0 !important;
}

.float:not([data-flip]) {
  float: left;
  margin-right: 40px;
}

.float[data-flip] {
  float: right;
  margin-left: 40px;
}

.float[data-clear] {
  float: unset;
  clear: both;
  margin: 0;
}

// Filler to extend float height to prevent content wrapping
.float-filler {
  height: 200vh; // Very tall to extend to bottom of page
  width: 1px;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: $wrap) {
  .float {
    float: unset !important;
    clear: both !important;
    margin: auto !important;
    max-width: unset;
  }

  .float-filler {
    display: none; // Hide on mobile when float is disabled
  }
}
