{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}

{% if button.link or button.icon or button.text %}
  {% assign processed_link = button.link | replace: "$VALUE", include.link %}
  {% if processed_link contains "http://" or processed_link contains "https://" or processed_link contains "mailto:" or processed_link contains "tel:" %}
    {% assign final_link = processed_link %}
  {% else %}
    {% assign final_link = processed_link | relative_url %}
  {% endif %}
  <div class="button-wrapper">
    <a
      class="button"
      href="{{ final_link }}"
      {% if button.tooltip %}
        data-tooltip="{{ button.tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
      {% if processed_link contains "http://" or processed_link contains "https://" or processed_link contains "mailto:" %}
        target="_blank"
        rel="noopener noreferrer"
      {% endif %}
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}
