{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}

<div class="portrait-wrapper">
  {% if member.no_page or include.no_page %}
    <div
      class="portrait"
      data-style="{{ include.style }}"
    >
  {% else %}
    {% assign portrait_lang = page.lang | default: 'en' %}
    {% if portrait_lang == 'de' and member.alt_lang_url %}
      {% assign portrait_url = member.alt_lang_url %}
    {% else %}
      {% assign portrait_url = member.url %}
    {% endif %}
    <a
      {% if page.slug != member.slug %}
        href="{{ portrait_url | relative_url | uri_escape }}"
      {% endif %}
      class="portrait"
      data-style="{{ include.style }}"
      aria-label="{{ member.name | default: "member link" | regex_strip }}"
    >
  {% endif %}
    {% if type %}
      {% include icon.html icon=type.icon %}
    {% endif %}

    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name %}
      <span class="portrait-name">
        {{ member.name }}
      </span>
    {% endif %}

    {% if member.description or type %}
      {% assign lang = page.lang | default: 'en' %}
      {% if lang == 'de' %}
        {% if member.gender == 'f' %}
          {% assign type_description = type.description_de_f | default: type.description_de | default: type.description %}
        {% elsif member.gender == 'm' %}
          {% assign type_description = type.description_de_m | default: type.description_de | default: type.description %}
        {% else %}
          {% assign type_description = type.description_de | default: type.description_de_m | default: type.description %}
        {% endif %}
      {% else %}
        {% assign type_description = type.description %}
      {% endif %}
      <span class="portrait-description">
        {{ member.description | default: type_description }}
      </span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">
        {{ member.affiliation }}
      </span>
    {% endif %}
  {% if member.no_page or include.no_page %}
    </div>
  {% else %}
  </a>
  {% endif %}
</div>
